@model IEnumerable<ApplicationUser>

<a asp-action="Create">Add New User</a>

<h3>Administrators</h3>
@foreach (var user in ViewBag.Admins)
{
    <div>@user.DisplayName</div>
}

<h3>Teachers</h3>
@foreach (var user in ViewBag.Teachers)
{
    <div>@user.DisplayName</div>
}

<h3>Students</h3>
@foreach (var user in ViewBag.Students)
{
    <div>@user.DisplayName</div>
}
